main {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: linear-gradient(rgba(9, 92, 201, 0.9), rgba(220, 122, 122, 0.1));

  .timer {
    width: 40%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    font-size: xx-large;
    border-radius: 10px;
    background-color: transparent;
    backdrop-filter: blur(20px);
    border: 2px solid coral;
    background: linear-gradient(rgba(220, 122, 122, 0.9), rgba(9, 92, 201, 0.1));
    box-shadow: 0px 0px 10px black;

    .time {
      border: 2px solid black;
      display: flex;
      justify-content: center;
      gap: 10px;
      border-radius: 10px;
      background-color: lightpink;
      box-shadow: 0px 0px 10px lightblue;
      animation-name: example;
      animation-duration: 3s;

    }
  }
}

/* .time {
  animation-name: demo;
  animation-duration: 3s;
}

@keyframes demo {
  0% {
    color: aqua;
  }

  100% {
    color: white;
  }
} */